<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <!-- Logo -->
            <a href="./" class="logo">
                <img
                    src="./assets/icons/logo.svg"
                    alt="WowWraps"
                    class="logo__img"
                />
                <span class="logo__title">WowWraps</span>
            </a>
            <p class="footer__desc">Download the WowWraps app today</p>
            <div class="footer__download">
                <a href="#!">
                    <img
                        src="./assets/img/footer/download-1.svg"
                        alt=""
                        class="footer__img"
                    />
                </a>
                <a href="#!">
                    <img
                        src="./assets/img/footer/download-2.svg"
                        alt=""
                        class="footer__img"
                    />
                </a>
            </div>
        </div>

        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">UsefulLink</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Home</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">About Us</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Services</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Booking</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Menu</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">Contact info</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link"
                        >Silk St, Barbican, London EC2Y 8DS, UK
                    </a>
                </li>
                <li>
                    <a href="mailto:info@example.com" class="footer__link">
                        info@example.com
                    </a>
                </li>
                <li>
                    <a href="tel:800-123-45-678" class="footer__link">
                        800-123-45-678
                    </a>
                </li>
            </ul>
        </div>

        <!-- Footer column 4 -->
        <div class="footer__col">
            <h3 class="footer__heading">Follow us</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Facebook</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Instagram</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Linkedin</a>
                </li>
                <li>
                    <a href="#!" class="footer__link">Twitter</a>
                </li>
            </ul>
        </div>

        <!-- Footer column 5 -->
        <div class="footer__col">
            <h3 class="footer__heading">Legal</h3>
            <ul class="footer__list">
                <li>
                    <a href="#!" class="footer__link">Website by uihut.com</a>
                </li>
                <li>
                    <p class="footer__text">©2022. All Rights Reserved</p>
                </li>
            </ul>
        </div>
    </div>
</div>
