@use "../abstracts";

.agency {
    padding: 150px 0;

    @include abstracts.screen(lg) {
        padding: 90px 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    &__title {
        margin-bottom: 6px;
        font-size: 3rem;
        font-weight: 500;
    }

    &__direct {
        display: inline-block;
        width: 100%;
        margin-top: 34px;
        text-align: center;
        text-decoration: underline;

        &:hover {
            color: #fb8f2c;
        }
    }
}
