@use "../abstracts";

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__row {
        display: flex;
        gap: 30px;
    }

    &__group {
        width: 63%;
        margin: 0 auto;

        &:focus-within {
            border-bottom: 1.5px solid #fff;
        }

        &:focus + label {
            color: #fb8f2c;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__label {
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 145.455%;
        color: #fff;

        &--small {
            margin-bottom: 10px;
            font-size: 1.6rem;
            line-height: 142.857%;
        }
    }

    &__text-input {
        position: relative;
        display: flex;
        align-items: center;
        height: 54px;
        border-bottom: 1px solid #fff;

        &--small {
            height: 44px;
        }
    }

    &__input {
        flex: 1;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 26px;
        color: #fff !important;

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 14px;
            transition: translate 0.3s ease;

            &:hover {
                cursor: pointer;
                translate: 5px;
            }

            @include abstracts.screen(sm) {
                width: 40px;
                height: 20px;
            }

            &-error {
                display: none;
                margin-left: 14px;
                animation: shake 0.5s;
            }
        }
    }

    &__error {
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 20px;
        color: #ed4337;
        display: none;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        gap: 10px;

        &-label {
            position: relative;
            display: flex;
            align-items: center;
            color: #ffffffcc;
            line-height: 162.5%;
        }

        &-label::before,
        &-label::after {
            content: "";
            display: inline-block;
        }

        &-label::before {
            margin-right: 10px;
            width: 18px;
            height: 18px;
            border: 1px solid #ffffffcc;
            border-radius: 4px;
        }

        & [type="checkbox"]:checked ~ &-label::before {
            background: #fb8f2c;
            border-color: #fb8f2c;
        }

        & [type="checkbox"]:checked ~ &-label::after {
            position: absolute;
            left: 3px;
            top: 4px;
            width: 12px;
            height: 7px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            rotate: -45deg;
        }
    }

    &__select-dialog {
        position: absolute;
        bottom: 44px;
        left: 10px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        translate: 0 8px;
        transition: opacity, visibility, translate;
        transition-duration: 0.2s;
        min-width: 230px;
        max-height: 310px;
        padding-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #242323;
        background: #242323;

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }
    }

    &__dialog-heading {
        padding: 20px;
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }

    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 0;
        padding: 12px 20px;
        opacity: 0.8;
    }

    &__option-list {
        flex: 1;
        margin-top: 10px;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option {
        font-size: 1.4rem;
        padding: 8px 20px;

        &--current {
            font-weight: 500;
            background: rgba($color: #fb8f2c, $alpha: 0.6);
        }

        &:hover:not(&--current) {
            background: #000;
            cursor: pointer;
        }
    }
}
