@use "../abstracts";

.form {
    &__row {
        display: flex;
        gap: 30px;
    }

    &__group {
        width: 63%;
        margin: 0 auto;

        &:focus-within {
            border-bottom: 1.5px solid #fff;
            color: #fb8f2c;
        }

        &:focus + label {
            color: #fb8f2c;
        }
    }

    &__text-input {
        position: relative;
        display: flex;
        align-items: center;
        height: 54px;
        border-bottom: 1px solid #fff;
    }

    &__input {
        margin-top: 20px;
        flex: 1;
        width: 100%;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 26px;
        color: #fff !important;

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        &-icon {
            margin-left: 14px;
            transition: translate 0.3s ease;

            &:hover {
                cursor: pointer;
                translate: 5px;
            }

            @include abstracts.screen(sm) {
                width: 40px;
                height: 20px;
            }

            &-error {
                display: none;
                margin-left: 14px;
                animation: shake 0.5s;
            }
        }
    }

    &__error {
        font-size: 1.6rem;
        font-weight: 500;
        margin-top: 20px;
        color: #ed4337;
        display: none;
    }

    &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
        .form__text-input {
            border-color: #ed4337;
        }

        .form__error,
        .form__input-icon-error {
            display: block;
        }

        .form__input-icon {
            display: none;
        }
    }
}
